@font-face {
  font-family: "Alef";
  src: local("Alef"),
    url("./fonts/Alef-Webfont/Alef-Bold.ttf") format("truetype");
}

/* The not is to allow font-awsome fonts to work */

header,
footer,
.jumb,
#q_wrapper,
.answer {
  text-align: right !important;
  font-family: "Alef", sans-serif !important;
  scroll-behavior: smooth;
}

#stripe_over_navbar {
  background-color: #e7eaec;
  min-height: 3vh;
}

#main_navbar {
  min-height: 7vh;
}

#cart_count {
  border-radius: 50%;
  background-color: crimson;
  color: white;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  width: 20px;
  position: absolute;
  right: 7px;
  top: 7px;
}

.card-img-top,
#spinner_card {
  padding: 2em;
  width: 100%;
  height: 25vw;
  object-fit: contain;
}

#q_wrapper ol {
  justify-content: flex-end;
  margin-bottom: 0;
}

.jumb,
.jumbotron {
  background-color: transparent !important;
}

.jumb,
.question_text,
.answer {
  direction: rtl;
}

#spinner_card {
  direction: rtl;
  text-align: center;
  font-family: "Alef", sans-serif !important;
}

.nav_link_custom {
  margin-top: 1rem;
  position: relative;
  text-align: center;
}

#search_box {
  text-align: right;
  font-size: 1.2rem;
  border-radius: 0;
  border-style: solid;
}

#product_card strong {
  font-size: 1.5rem;
}

.answers_text,
.question_text {
  font-size: 1rem;
}

.portfolio_image {
  width: 120% !important;
}
